files/NodeRed-WatsonAssistantFlow.json
[{"id":"3b6fb24a.521146","type":"tab","label":"WatsonAssistantBot","disabled":false,"info":""},{"id":"dd8c43e3.10e21","type":"function","z":"3b6fb24a.521146","name":"Clear session list","func":"context.flow.mykeys = undefined\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":520,"wires":[[]]},{"id":"8bdf0be4.d1ac","type":"inject","z":"3b6fb24a.521146","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":520,"wires":[["dd8c43e3.10e21"]]},{"id":"6c94bdab.3a779c","type":"function","z":"3b6fb24a.521146","name":"Remember session","func":"context.flow.chatId = msg.payload.chatId;\ncontext.flow.type = msg.payload.type;\n\n// If there is no context mykeys object yet, create it\nif(context.flow.mykeys===undefined) context.flow.mykeys={}\n\n// Checking if session already exists\nif(context.flow.mykeys[msg.payload.chatId]!==undefined) {\n    // If session already exists\n    msg.params={}\n    msg.params.session_id=context.flow.mykeys[msg.payload.chatId]\n    //msg.params.session_id=\"95909020-93a2-42aa-8f15-17e93a8acd84\"\n}\n\nmsg.payload = msg.payload.content;\n//node.warn(context);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":160,"wires":[["9490aaaa.68adc8"]]},{"id":"9490aaaa.68adc8","type":"watson-assistant-v2","z":"3b6fb24a.521146","name":"Watson Assistant","service-endpoint":"https://gateway.watsonplatform.net/assistant/api/","assistant_id":"b9fb37ca-d679-473a-b58a-f014df4f2121","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":670,"y":160,"wires":[["ed10ead4.082aa8"]]},{"id":"e4f1b32.eeaded","type":"switch","z":"3b6fb24a.521146","name":"text or photo?","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"},{"t":"eq","v":"photo","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":140,"y":160,"wires":[["6c94bdab.3a779c"],["db99b0ae.ea598"]]},{"id":"ed10ead4.082aa8","type":"function","z":"3b6fb24a.521146","name":"Save session","func":"msg.payload.chatId = context.flow.chatId;\nmsg.payload.type = context.flow.type;\n\n// Check if error is returned\nif (msg.watsonerror!==undefined) {\n    if(msg.watsonerror == \"Invalid Session\") {\n       node.warn(\"Reset the expired session...\");\n       context.flow.mykeys[msg.originalMessage.chat.id]=undefined;\n    } else {\n       node.warn(msg);\n    }\n}\n\n// Combine all responses together\na=msg.payload.output.generic\nmsg.payload.content=\"\"\na.forEach(function(element) {\n  msg.payload.content=msg.payload.content+element[\"text\"]+\" \";\n});\n\n// Always remember session\ncontext.flow.mykeys[msg.payload.chatId]=msg.payload.session_id;\n//node.warn(context);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":160,"wires":[["cbe6ee69.10872"]]},{"id":"db99b0ae.ea598","type":"function","z":"3b6fb24a.521146","name":"Prepare for recognition","func":"context.flow.chatId = msg.payload.chatId;\ncontext.flow.type = msg.payload.type;\n\n//Uncomment the lines below if  you would like to use custom classifier\n//msg.headers = { \"Content - Type \":\"image / jpeg \"};\n//msg.params = {\n//    classifier_ids:[\"MaskModelCombined_847900797\"],\n//  owners:[\"me\",\"IBM\"],\n//    threshold: \"0.0\"\n//};\n\nmsg.payload=msg.payload.weblink;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":280,"wires":[["d1585c58.38473"]]},{"id":"82584a42.a59038","type":"telegram receiver","z":"3b6fb24a.521146","name":"","bot":"ac52230c.96b9c","saveDataDir":"","filterCommands":false,"x":120,"y":60,"wires":[["e4f1b32.eeaded"],[]]},{"id":"cbe6ee69.10872","type":"telegram sender","z":"3b6fb24a.521146","name":"","bot":"ac52230c.96b9c","x":900,"y":400,"wires":[[]]},{"id":"d1585c58.38473","type":"visual-recognition-v3","z":"3b6fb24a.521146","name":"Watson Visual Recognition","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":400,"y":400,"wires":[["73f34d11.4919e4"]]},{"id":"73f34d11.4919e4","type":"function","z":"3b6fb24a.521146","name":"Prepare answer","func":"var newmsg = { \n    payload: \n    {\n        chatId:context.flow.chatId,\n        content: msg.result.images[0].classifiers[0].classes[0].class,\n        type:\"message\"\n    } \n};\n\nreturn newmsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":400,"wires":[["cbe6ee69.10872"]]},{"id":"ac52230c.96b9c","type":"telegram bot","z":"","botname":"womencourage2020","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]