files/NodeRed-VRCustomFlow.json
[{"id":"18a644a6.fd570b","type":"tab","label":"Mask_Detection_Bot","disabled":false,"info":""},{"id":"88a67e35.c0807","type":"telegram receiver","z":"18a644a6.fd570b","name":"","bot":"70f94c98.29adc4","saveDataDir":"","filterCommands":false,"x":100,"y":60,"wires":[["59211b12.3b8fa4"],[]]},{"id":"76577a72.1e7dd4","type":"function","z":"18a644a6.fd570b","d":true,"name":"Save_URL","func":"context.flow.chatId = msg.payload.chatId;\ncontext.flow.type = msg.payload.type;\nmsg.headers = { \"Content - Type \":\"image / jpeg \"};\nmsg.params = {classifier_ids:[\"DefaultCustomModel_950769904\"],\n  owners:[\"me\",\"IBM\"],\n  threshold: \"0.0\"\n};\nmsg.payload=msg.payload.weblink;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":360,"wires":[[]]},{"id":"c6b2e84a.784db8","type":"telegram sender","z":"18a644a6.fd570b","name":"","bot":"70f94c98.29adc4","x":900,"y":300,"wires":[[]]},{"id":"1f03aabe.b7e2bd","type":"debug","z":"18a644a6.fd570b","name":"db","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":120,"wires":[]},{"id":"54a69cad.a6e7ac","type":"function","z":"18a644a6.fd570b","name":"Create_answer","func":"var newmsg = { \n    payload: \n    {\n        chatId:context.flow.chatId,\n        content: msg.payload.message + ' (' + context.flow.englishResult +')',\n        type:\"message\"\n    } \n};\n\nreturn newmsg;\n\n","outputs":1,"noerr":0,"x":640,"y":300,"wires":[["1f03aabe.b7e2bd","c6b2e84a.784db8"]]},{"id":"396fa123.02ad86","type":"function","z":"18a644a6.fd570b","name":"Check mask","func":"function dateFormat (date, fstr, utc) {\n  utc = utc ? 'getUTC' : 'get';\n  return fstr.replace (/%[YmdHMS]/g, function (m) {\n    switch (m) {\n    case '%Y': return date[utc + 'FullYear'] (); // no leading zeros required\n    case '%m': m = 1 + date[utc + 'Month'] (); break;\n    case '%d': m = date[utc + 'Date'] (); break;\n    case '%H': m = date[utc + 'Hours'] (); break;\n    case '%M': m = date[utc + 'Minutes'] (); break;\n    case '%S': m = date[utc + 'Seconds'] (); break;\n    default: return m.slice (1); // unknown code, remove %\n    }\n    // add leading zero if required\n    return ('0' + m).slice (-2);\n  });\n}\n\n\nvar maskScore = 0\nvar noMaskScore = 0\n\nfor (var myClass of msg.result.images[0].classifiers[0].classes) {\n    if (myClass.class==\"mask\") { maskScore = myClass.score}\n    if (myClass.class==\"nomask\") { noMaskScore = myClass.score}\n}\n\nif ( maskScore > noMaskScore ) {\n    myMessage = 'Access granted'\n    context.flow.englishResult = 'Mask'\n}\nelse {\n    myMessage = 'Access denied'\n    context.flow.englishResult = 'No Mask'\n}\n\nvar newmsg = { \n    payload: \n    {\n        message: myMessage,\n        originalPayload: msg.payload,\n        chatid: context.flow.chatId,\n        timestamp: dateFormat (new Date (Date.now() + 3*3600000), \"%Y-%m-%d %H:%M:%S\", true)\n        \n    } \n};\nreturn newmsg\n","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["54a69cad.a6e7ac","adc9e05b.7cdc6","b268bc30.c26018","dfc9ccbe.f49c48"]]},{"id":"adc9e05b.7cdc6","type":"debug","z":"18a644a6.fd570b","name":"db2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":120,"wires":[]},{"id":"f01b6bda.04fa68","type":"visual-recognition-util-v4","z":"18a644a6.fd570b","d":true,"name":"Mask_detection","vr-service-endpoint":"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/df739878-1878-4905-b3b8-bda2b4f56b9e","image-feature":"analyze","x":220,"y":400,"wires":[[]]},{"id":"b26cfda0.8eca58","type":"function","z":"18a644a6.fd570b","d":true,"name":"f1","func":"global.set(\"imgData\",msg.payload); \nglobal.set(\"fileName\",msg.filename);\nmsg.headers = { \"Content - Type \":\"image / jpeg \"};\nmsg.params = {classifier_ids:[\"DefaultCustomModel_950769904\"],\n  owners:[\"me\",\"IBM\"],\n  threshold: \"0.0\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":70,"y":360,"wires":[[]]},{"id":"dfc9ccbe.f49c48","type":"debug","z":"18a644a6.fd570b","name":"Debug1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":100,"wires":[]},{"id":"f6f1ed7a.dff048","type":"visual-recognition-v3","z":"18a644a6.fd570b","name":"Visual Recognition","vr-service-endpoint":"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/df739878-1878-4905-b3b8-bda2b4f56b9e","image-feature":"classifyImage","lang":"en","x":310,"y":220,"wires":[["396fa123.02ad86","dfc9ccbe.f49c48"]]},{"id":"59211b12.3b8fa4","type":"function","z":"18a644a6.fd570b","name":"Prepare image","func":"context.flow.chatId = msg.payload.chatId;\ncontext.flow.type = msg.payload.type;\nmsg.headers = { \"Content - Type \":\"image / jpeg \"};\nmsg.params = {classifier_ids:[\"MaskModelCombined_847900797\"],\n  owners:[\"me\",\"IBM\"],\n  threshold: \"0.0\"\n};\nmsg.payload=msg.payload.weblink;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":140,"wires":[["f6f1ed7a.dff048"]]},{"id":"b268bc30.c26018","type":"cloudant out","z":"18a644a6.fd570b","name":"Store in cloudant","cloudant":"bfe03412.a70d1","database":"maskcontrol","service":"node-red-group-44 CloudantNoSQLDB","payonly":false,"operation":"insert","x":570,"y":400,"wires":[]},{"id":"384a2385.880484","type":"inject","z":"18a644a6.fd570b","name":"","topic":"","payload":"list docs in cloudant","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":560,"wires":[["f4cba692.7e2d6"]]},{"id":"f4cba692.7e2d6","type":"cloudant in","z":"18a644a6.fd570b","name":"get list from cloudant","cloudant":"bfe03412.a70d1","database":"maskcontrol","service":"node-red-group-44 CloudantNoSQLDB","search":"_all_","design":"","index":"","x":720,"y":560,"wires":[["ff9d5037.08dd88"]]},{"id":"ff9d5037.08dd88","type":"debug","z":"18a644a6.fd570b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":560,"wires":[]},{"id":"8d352889.0b085","type":"function","z":"18a644a6.fd570b","d":true,"name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":460,"wires":[[]]},{"id":"70f94c98.29adc4","type":"telegram bot","z":"","botname":"MaskDetectbot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"bfe03412.a70d1","type":"cloudant","z":"","host":"253f989f-2fdb-426a-9987-38e3408c54b6-bluemix.cloudantnosqldb.appdomain.cloud","name":"cloudant"}]